<h2><%= t(:'devise.passwords.edit_title') %></h2>

<%- semantic_form_for resource_name, resource, :url => password_path(resource_name), :html => { :method => :put } do |f| -%>
  <%= f.hidden_field :reset_password_token %>
  <%- f.inputs do -%>
    <%= f.input :password, :as => :password  %>
    <%= f.input :password_confirmation, :as => :password %>
  <%- end -%>
  <%- f.buttons do -%>
    <%= f.commit_button t(:'devise.passwords.submit_change') %>
  <%- end -%>
<% end %>

<%= link_to t(:'devise.sessions.sign_in'), new_session_path(resource_name) %><br />

<%- if devise_mapping.confirmable? %>
  <%= link_to  t(:'devise.sessions.confirmation_hint'), new_confirmation_path(resource_name) %><br />
<% end -%>
